<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" /> -->
		<meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
		<!-- <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://platform.linkedin.com "> -->
		<script src="script/vue.min.js"></script>
		<link href="style/style.css" rel="stylesheet" />
		<title>Movie Time</title>
	</head>
	<body class="noselect">
		<div id="serverApp">
			<div id="header" class="pb-1">
				<!-- title bar -->
				<div class="pv-05 ph-05 flex_center_vertical flex_space_between drag">
					<div class="flex_wrap">
						<p class="no_drag">
							<span class="text_white link hover_active ml-1" @click="menuSelect('settings')" title="settings"></span>
							<span class="text_white link hover_active ml-1" @click="menuSelect('playlist')" title="playlist"></span>
							<span :class="`text_white link hover_active ml-1  ${newMessageAlert ? 'alertDot' : ''}`" @click="menuSelect('chat')" title="chat"></span>
							<span class="text_white ml-1 text_small text_gray" :title="`${spectators} spectators`"> {{spectators}}</span>
						</p>
						<div class="flex_wrap" v-if="uploadProgress && uploadProgress < 100">
							<div class="progress_bar drag">
								<div :style="`width:${uploadProgress}%`"></div>
							</div>
							<p class="text_white">{{uploadProgress}}%</p>
						</div>
					</div>

					<div class="flex_wrap no_drag">
						<p class="text_white text_small link ph-1" @click="copyShareLink()"> Copy share link</p>
						<p>
							<span class="text_white link hover_active mr-1" @click="minimizeWindow()"></span>
							<span class="text_white link hover_active mr-1" @click="maximizeWindow()"></span>
							<span class="text_white link hover_active" @click="closeWindow()"></span>
						</p>
					</div>
				</div>
			</div>
			<!-- content -->
			<div class="content">
				<div class="video-container">
					<video type="video/mp4" src="" id="videoPlayer" controls poster="" @click="playerClick()" @play="playerPlay()" @pause="playerPause()" @stop="playerStop()"></video>

					<div v-if="subtitles" class="flex_center_horizontal">
						<div class="subtitles text_white text_bold text_center inline_block" v-html="subtitles"></div>
					</div>
				</div>

				<div id="menu" v-if="menu" class="ph-05 pv-05">
					<div class="close_button text_white link hover_active" @click="menuSelect(false)"></div>
					<div class="menu_tabs text_small flex_space_between mb-1">
						<p :class="`text_white hover_active link ph-05 pb-05 ${menu == 'settings' ? 'active' : ''}`" @click="menuSelect('settings')"> settings</p>
						<p :class="`text_white hover_active link ph-05 pb-05 ${menu == 'playlist' ? 'active' : ''}`" @click="menuSelect('playlist')"> playlist</p>
						<p :class="`text_white hover_active link ph-05 pb-05 ${menu == 'chat' ? 'active' : ''}`" @click="menuSelect('chat')"> chat</p>
					</div>
					<div class="menu_container text_small">
						<!-- ------ settings ------- -->
						<div v-if="menu == 'settings'" class="settings">
							<!-- <p class="text_white link background_info p-1 mv-1" @click="copyShareLink()"> Copy share link</p> -->

							<div class="flex_space_between">
								<img :src="`img/avatars/${appInfo.avatar}.jpg`" class="avatar_img link" @click="changeSettings('avatar')" />
								<p @click="changeSettings('password')" class="text_white link">Clear all sessions <span class="text_white" title="Restrict the stream session (recomended)"></span></p>
							</div>

							<div class="text_white pb-05 flex_space_between flex_center_vertical">
								<p class="text_white pr-1">User name</p>
								<input type="text" class="p-05" :value="appInfo.username" @keyup="changeSettings('username')" />
							</div>

							<hr class="mv-1" />

							<div class="text_white pb-05 flex_space_between flex_center_vertical">
								<p class="text_white pr-1">Ports <span class="text_white" title="You have to do port-forwarding to this two ports at your router"></span></p>
								<div class="flex_space_between" style="width: 59%;">
									<input type="text" class="p-05" style="width: 48%;" :value="appInfo.serverPort" @keyup="changeSettings('serverPort')" />
									<input type="text" class="p-05" style="width: 48%;" :value="appInfo.socketPort" @keyup="changeSettings('socketPort')" />
								</div>
							</div>
						</div>

						<!-- ------ playlist ------- -->
						<div v-if="menu == 'playlist'" class="playlist">
							<p class="text_white link background_info p-1 mv-1" @click="loadVideo()"> load video</p>
							<p v-for="(value, index) in playlist" class="pb-05" :key="index">
								<span class="text_danger link hover_active" title="delete from playlist" @click="deleteFromPlaylist(value)"></span>
								<span class="text_gray link hover_active" :style="`${value.sub ? 'color: #79fd00 !important;' : ''}`" title="add subtitles" @click="addSubtitles(value)"></span>
								<span class="text_white link hover_active" :style="`${value.fileName === appInfo.fileName ? 'color: #79fd00 !important;' : ''}`" @click="playerPlay(value)">{{value.fileName}}</span>
							</p>
						</div>

						<!-- ------ chat ------- -->
						<div v-if="menu == 'chat'" class="chat">
							<div class="chat_list">
								<div :class="`chat_item text_white ${ appInfo.username == value.user.split('_')[0] ? 'me' : ''}`" v-for="(value, index) in chat" :key="index">
									<img :src="`img/avatars/${value.user.split('_')[1]}.jpg`" class="avatar_img" />
									<div class="text_content">
										<p class="text_small text_white">{{value.user.split('_')[0]}}</p>
										<p class="text_white" v-html="value.post"></p>
									</div>
								</div>
							</div>
							<div>
								<textarea class="chat_input" id="chat_input" placeholder="text ..." @keyup.enter="sendChatPost('chat_input')"></textarea>
								<i class="icon link" style="position: absolute; bottom: 5px; right: 33px; border-left: 2px solid #656565; padding-left: 7px;" @click="playerClass.emojiBox('chat_input')">😄</i>
								<i class="icon link text_white" style="position: absolute; bottom: 7px; right: 7px;" @click="sendChatPost('chat_input')"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="script/script.js"></script>
		<script>
			const electron = require("electron");
			var webContent = electron.remote.getGlobal("webContent");
			const fs = require("fs");

			new Vue({
				el: "#serverApp",
				data() {
					return {
						chat: [],
						newMessageAlert: false,
						messageSound: new Audio(`misc/notification_sound.mp3`),
						menu: null,
						appInfo: {},
						serverURL: "",
						socket: {},
						videoPlayer: null,
						uploadProgress: null,
						playlist: {},
						spectators: 0,
						subtitles: null,
					};
				},
				mounted() {
					this.videoPlayer = document.getElementById("videoPlayer");
					fetch("https://api.myip.com/")
						.then((e) => e.json())
						.then((e) => {
							this.appInfo = JSON.parse(JSON.stringify(localStorage));
							this.appInfo.serverIp = e.ip;
							this.socket = new WebSocket(`ws://${e.ip || this.appInfo.serverIp}:${this.appInfo.socketPort}`);
							this.socket.onmessage = (e) => this.socketMSG(e);

							this.appInfo.playlist = this.appInfo.playlist ? JSON.parse(this.appInfo.playlist) : {};

							Object.keys(this.appInfo.playlist).forEach((e, index) => {
								e = this.appInfo.playlist[e];
								// console.log(e);
								if (!fs.existsSync(e.fileURL)) {
									if (e.fileURL == this.appInfo.fileURL) {
										delete this.appInfo.fileURL;
										delete this.appInfo.fileName;
										delete this.appInfo.videoProgress;
									}
									delete this.appInfo.playlist[e.fileName];
								}
							});
							this.playlist = this.appInfo.playlist;

							if (this.appInfo.fileURL) {
								this.videoPlayer.src = this.appInfo.fileURL;
								this.videoPlayer.currentTime = this.appInfo.videoProgress;
							}

							setInterval(this.tick, 2000);
							this.updateLocalStorage();
							this.subManager();
							electron.ipcRenderer.send("init", this.appInfo);
							// console.log(this.appInfo);
						});
				},
				methods: {
					socketMSG(socketData) {
						var e = JSON.parse(socketData.data);
						// console.log(e);
						this.spectators = e.spectators;
						if (e.about == "initMe") {
							this.socket.send(JSON.stringify({ msg: { ...this.appInfo, chat: this.chat }, about: "initMe" }));
						} else if (e.about == "player") {
							if (e.msg == "play") {
								this.videoPlayer.currentTime = e.currentTime;
								this.videoPlayer.play();
							}
							if (e.msg == "pause") {
								this.videoPlayer.currentTime = e.currentTime;
								this.videoPlayer.pause();
							}
						} else if (e.about == "chat") {
							this.chat.push(e.msg);
							this.messageSound.play();
							var chatList = document.querySelector(".chat_list");
							if (chatList) chatList.scrollTop = chatList.scrollHeight;
							if (this.menu !== "chat") this.newMessageAlert = true;
						}
					},

					tick() {
						if (this.socket.readyState) {
							this.socket.send(JSON.stringify({ msg: "tick", about: "player", currentTime: this.videoPlayer.currentTime, isPlaying: !this.videoPlayer.paused }));
						}
					},
					sendChatPost(el) {
						el = document.getElementById(el);
						if (el.value.trim() === "") return;
						var post = el.value.trim().replace(/:\)/g, "<span class='text_big'>😃</span>").replace(/:\(/g, "<span class='text_big'>😥</span>").replace(/\n/g, "<br>");
						var msg = { user: this.appInfo.username + "_" + this.appInfo.avatar, post };
						this.chat.push(msg);
						el.value = "";
						el.focus();
						console.log(document.querySelector(".chat_list").scrollHeight);
						document.querySelector(".chat_list").scrollTop = document.querySelector(".chat_list").scrollHeight + 300;
						this.socket.send(JSON.stringify({ about: "chat", msg }));
					},
					copyShareLink() {
						playerClass.copyToClipboard(`http://${this.appInfo.serverIp}:${this.appInfo.serverPort}/?p=${this.appInfo.password}&s=${this.appInfo.socketPort}`);
						var el = event.target;
						el.classList.add("background_success");
						setTimeout(() => el.classList.remove("background_success"), 1000);
					},
					subManager() {
						this.tempSubs = {};
						if (!fs.existsSync(this.playlist[this.appInfo.fileName].sub)) return;
						var sub = fs.readFileSync(this.playlist[this.appInfo.fileName].sub, "UTF-8").split(/\n\n|\n\r/g);

						sub.forEach((e) => {
							e = e.split("\n");
							if (e[0] == "") e.splice(0, 1);
							e.shift();
							// title and start time
							var tst = timeHelper(e[0]);
							if (!tst) return;
							e.shift();
							this.tempSubs[tst.start] = {};
							this.tempSubs[tst.start].end = tst.end;
							this.tempSubs[tst.start].text = e.join(" ");
							// temp[tst.start].text = e.join(" ").replace(/<i>|<\/i>/g, "");
						});
						// console.log(temp);

						var subKeys = Object.keys(this.tempSubs);
						var deltaTime = null;
						var subTick = setInterval(() => {
							var videoTime = Math.round(this.videoPlayer.currentTime * 1000);
							var closest = subKeys.reduce(function (prev, curr) {
								return Number(Math.abs(curr - videoTime) < Math.abs(prev - videoTime) ? curr : prev);
							});

							if (deltaTime !== closest) {
								if (!this.tempSubs[closest]) return clearInterval(subTick);
								clearTimeout(t);
								deltaTime = closest;
								this.subtitles = this.tempSubs[closest].text;
								this.socket.send(JSON.stringify({ about: "subtitles", msg: this.tempSubs[closest] }));
								var t = setTimeout(() => {
									this.subtitles = null;
								}, this.tempSubs[closest].end + 2000 - videoTime);
							}
						}, 100);

						function timeHelper(time) {
							if (!time) return;
							time = time.split(" --> ");
							var start = arrToMS(time[0].split(/:|,/g));
							var end = arrToMS(time[1].split(/:|,/g));
							function arrToMS(arr) {
								var ms = 0;
								if (arr[0] !== "00") ms += Number(arr[0]) * 1000 * 60 * 60;
								if (arr[1] !== "00") ms += Number(arr[1]) * 1000 * 60;
								if (arr[2] !== "00") ms += Number(arr[2]) * 1000;
								if (arr[3] !== "00") ms += Number(arr[3]);
								return ms;
							}
							return {
								start,
								end,
							};
						}
					},
					changeSettings(about) {
						if (about == "username") {
							this.appInfo[about] = event.target.value.replace(/[^A-Za-z0-9 ]/g, " ");
						} else if (about == "avatar") {
							this.appInfo[about] = Number(this.appInfo[about]);
							this.appInfo[about] < 7 ? this.appInfo[about]++ : (this.appInfo[about] = 1);
						} else if (about == "password") {
							this.appInfo[about] = Date.now();
						} else {
							this.appInfo[about] = event.target.value.replace(/ /g, "_");
						}
						this.updateLocalStorage();
						electron.ipcRenderer.send("changeSettings", this.appInfo);
					},
					addSubtitles(listItem) {
						const q = document.createElement("INPUT");
						q.type = "file";
						q.title = "Load subtitles";
						q.click();
						q.onchange = () => {
							var file = q.files[0];
							listItem.sub = file.path;
							this.appInfo.playlist[listItem.fileName] = listItem;
							this.updateLocalStorage();
							this.subManager();
						};
					},
					deleteFromPlaylist(listItem) {
						delete this.appInfo.playlist[listItem.fileName];
						event.target.parentElement.remove();
						this.updateLocalStorage();
					},
					updateLocalStorage() {
						Object.keys(this.appInfo).forEach((e) => {
							localStorage[e] = typeof this.appInfo[e] === "object" ? JSON.stringify(this.appInfo[e]) : this.appInfo[e];
						});
						this.appInfo = JSON.parse(JSON.stringify(this.appInfo));
					},
					menuSelect(menuItem) {
						this.menu = menuItem;
						if (menuItem == "chat") this.newMessageAlert = false;
					},
					addToPlaylist(listItem) {
						if (this.appInfo.playlist[listItem.fileName]) return;

						this.appInfo.playlist[listItem.fileName] = { ...listItem };
						this.playlist = this.appInfo.playlist;
						this.updateLocalStorage();
					},
					playerPlay(listItem, { isNew = false, autoPlay = true } = {}) {
						if (listItem) {
							this.videoPlayer.currentTime = 0;
							this.videoPlayer.src = listItem.fileURL;

							this.appInfo.videoProgress = 0;
							this.appInfo.fileName = listItem.fileName;
							this.appInfo.fileURL = listItem.fileURL;
							this.appInfo.fileName = listItem.fileName;
							electron.ipcRenderer.send("loadVideo", { fileURL: listItem.fileURL, fileName: listItem.fileName });

							if (isNew && (!this.appInfo.playlist || !this.appInfo.playlist[listItem.fileName])) {
								this.addToPlaylist(listItem);
							}
							this.subManager();
							this.updateLocalStorage();
						}
						if (!autoPlay) return;
						clearTimeout(window.playerPlay);
						window.playerPlay = setTimeout(() => {
							this.videoPlayer.play();
							this.socket.send(JSON.stringify({ msg: "play", about: "player", currentTime: this.videoPlayer.currentTime, fileURL: this.appInfo.fileURL, fileName: this.appInfo.fileName }));
						}, 100);
					},
					playerPause() {
						clearTimeout(window.playerPlay);
						window.playerPlay = setTimeout(() => {
							this.videoPlayer.pause();
							this.socket.send(JSON.stringify({ msg: "pause", about: "player", currentTime: this.videoPlayer.currentTime }));
							this.appInfo.videoProgress = this.videoPlayer.currentTime;
							this.updateLocalStorage();
						}, 100);
					},
					playerClick() {
						if (!this.appInfo.fileURL) {
							this.loadVideo();
						}
					},

					loadVideo() {
						// this.videoPlayer.pause();
						const q = document.createElement("INPUT");
						q.type = "file";
						q.click();
						q.onchange = () => {
							var file = q.files[0];
							q.remove();
							// console.log(file);
							var renamedFilePath = file.path;

							// TODO - rename the file
							// fs.renameSync(file.path, renamedFilePath);

							var fileExtension = renamedFilePath.split(".").pop();
							if (["avi", "mkv"].includes(fileExtension)) {
								const { sep } = require("path");
								const ffmpegInstaller = require("@ffmpeg-installer/ffmpeg");
								const ffmpeg = require("fluent-ffmpeg");
								ffmpeg.setFfmpegPath(ffmpegInstaller.path);
								// var tempPath = process.env.TEMP + sep + file.name + ".mp4";
								var tempPath = renamedFilePath + ".mTime_convert.mp4";

								if (fs.existsSync(tempPath)) return this.playerPlay({ fileURL: tempPath, fileName: file.name }, { isNew: true });

								ffmpeg(renamedFilePath)
									// .videoCodec("libx264")
									// .audioCodec("libmp3lame")
									.on("error", (err) => {
										this.uploadProgress = "Error";
										return console.log(`ERROR ${err.message}, I don't know what to do now.... I'm out ! (～￣(OO)￣)`);
									})
									.on("progress", (progress) => {
										this.uploadProgress = Math.round((progress.targetSize / (file.size / 1000)) * 100) || 1;
										// console.log(this.uploadProgress);
									})
									.on("end", () => {
										console.log("Processing finished !");
										this.uploadProgress = 100;
										// this.playerPlay({ fileURL: tempPath, fileName: file.name }, { isNew: true, autoPlay: false });
										this.addToPlaylist({ fileURL: tempPath, fileName: file.name });

										// if (confirm("The file is converted. Do you want to play it now?")) {
										// 	this.playerPlay({ fileURL: tempPath, fileName: file.name }, { isNew: true });
										// } else {
										// 	this.playerPlay({ fileURL: tempPath, fileName: file.name }, { isNew: true, autoPlay: false });
										// }
									})
									.save(`${tempPath}`);
								return;
							} else if (fileExtension === "mp4") {
								this.playerPlay({ fileURL: renamedFilePath, fileName: file.name }, { isNew: true });
							} else {
								return alert("Unsuported format");
							}
						};
					},

					// player app window controls
					minimizeWindow() {
						electron.remote.getCurrentWindow().minimize();
					},
					maximizeWindow() {
						!electron.remote.getCurrentWindow().isMaximized() ? electron.remote.getCurrentWindow().maximize() : electron.remote.getCurrentWindow().unmaximize();
					},
					closeWindow() {
						this.appInfo.videoProgress = this.videoPlayer.currentTime;
						this.updateLocalStorage();
						this.socket.close();
						electron.remote.getCurrentWindow().close();
					},
				},
			});
		</script>
	</body>
</html>
