<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="script/vue.min.js"></script>
		<link href="style/style.css" rel="stylesheet" />
		<title>📺 Movie Time</title>
	</head>
	<body>
		<div id="clientApp">
			<div id="header" class="pb-1">
				<!-- title bar -->
				<div class="pv-05 ph-05 flex_center_vertical flex_space_between drag">
					<p class="no_drag">
						<span class="text_white link hover_active ml-1" @click="menuSelect('settings')" title="settings"></span>
						<span :class="`text_white link hover_active ml-1  ${newMessageAlert ? 'alertDot' : ''}`" @click="menuSelect('chat')" title="chat"></span>
					</p>
				</div>
			</div>

			<!-- content -->
			<div class="content">
				<div class="video-container">
					<video type="video/mp4" :src="`http://${urlParams.host}/${fileURL}`" id="videoPlayer" controls poster="" @play="playerPlay()" @pause="playerPause()"></video>
					<div v-if="subtitles" class="flex_center_horizontal">
						<div class="subtitles text_white text_bold text_center inline_block" v-html="subtitles"></div>
					</div>
				</div>

				<div id="menu" v-if="menu" class="ph-05 pv-05">
					<div class="close_button text_white link hover_active" @click="menuSelect(false)"></div>
					<div class="menu_tabs text_small flex_wrap mb-1">
						<p :class="`text_white hover_active link ph-05 pb-05 mr-2 ${menu == 'settings' ? 'active' : ''}`" @click="menuSelect('settings')"> settings</p>
						<p :class="`text_white hover_active link ph-05 pb-05 ml-2 ${menu == 'chat' ? 'active' : ''}`" @click="menuSelect('chat')"> chat</p>
					</div>
					<div class="menu_container text_small">
						<!-- ------ settings ------- -->
						<div v-if="menu == 'settings'" class="settings">
							<div class="flex_center_vertical">
								<img :src="`img/avatars/${appInfo.avatar}.jpg`" class="avatar_img mb-0 link" @click="changeSettings('avatar')" />

								<div class="text_white pl-2">
									<p class="text_white pb-05">User name</p>
									<input type="text" class="p-05" :value="appInfo.username" @keyup="changeSettings('username')" />
								</div>
							</div>

							<hr class="mv-1" />

							<div class="text_white pb-05 flex_space_between flex_center_vertical">
								<p class="text_white link pr-1" @click="changeSettings('showSubtitles')">{{appInfo.showSubtitles === 'on' ? 'Hide subtitles' : 'Show subtitles'}}</p>
							</div>
						</div>

						<!-- ------ chat ------- -->
						<div v-if="menu == 'chat'" class="chat">
							<div class="chat_list">
								<div :class="`chat_item text_white ${ appInfo.username == value.user.split('_')[0] ? 'me' : ''}`" v-for="(value, index) in chat" :key="index">
									<img :src="`img/avatars/${value.user.split('_')[1]}.jpg`" class="avatar_img" />
									<div class="text_content">
										<p class="text_small text_white">{{value.user.split('_')[0]}}</p>
										<p class="text_white" v-html="value.post"></p>
									</div>
								</div>
							</div>
							<div>
								<textarea class="chat_input" id="chat_input" placeholder="text ..." @keyup.enter="sendChatPost('chat_input')"></textarea>
								<i class="icon link" style="position: absolute; bottom: 5px; right: 33px; border-left: 2px solid #656565; padding-left: 7px;" @click="playerClass.emojiBox('chat_input')">😄</i>
								<i class="icon link text_white" style="position: absolute; bottom: 7px; right: 7px;" @click="sendChatPost('chat_input')"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="script/script.js"></script>
		<script>
			new Vue({
				el: "#clientApp",
				data() {
					return {
						chat: [],
						newMessageAlert: false,
						messageSound: new Audio(`misc/notification_sound.mp3`),
						menu: null,
						appInfo: {},
						videoPlayer: null,
						fileURL: null,
						headers: {},
						socket: {},
						urlParams: urlBreak(),
						subtitles: null,
					};
				},
				mounted() {
					this.videoPlayer = document.getElementById("videoPlayer");
					this.appInfo = {
						username: localStorage.username ? localStorage.username : (localStorage.username = "Spectator"),
						avatar: localStorage.avatar ? localStorage.avatar : (localStorage.avatar = 1),
						showSubtitles: localStorage.showSubtitles ? localStorage.showSubtitles : (localStorage.showSubtitles = "on"),
					};
					// console.log(this.appInfo.showSubtitles);
					setInterval(() => {
						if (!this.socket.readyState || this.socket.readyState !== 1) {
							console.log("websocket is closed! opening ....");
							this.socket = new WebSocket(`ws://${this.urlParams.hostname}:${this.urlParams.query.s}`);
							this.socket.onopen = (e) => this.socket.send(JSON.stringify({ about: "initMe" }));
							this.socket.onmessage = (e) => this.socketMSG(e);
						}
					}, 3000);
				},
				methods: {
					sendChatPost(el) {
						el = document.getElementById(el);
						if (el.value.trim() === "") return;
						var post = el.value.trim().replace(/:\)/g, "<span class='text_big'>😃</span>").replace(/:\(/g, "<span class='text_big'>😥</span>").replace(/\n/g, "<br>");
						var msg = { user: this.appInfo.username + "_" + this.appInfo.avatar, post };
						this.chat.push(msg);
						el.value = "";
						el.focus();
						console.log(document.querySelector(".chat_list").scrollHeight);
						document.querySelector(".chat_list").scrollTop = document.querySelector(".chat_list").scrollHeight + 300;
						this.socket.send(JSON.stringify({ about: "chat", msg }));
					},
					changeSettings(about) {
						if (about == "username") {
							this.appInfo[about] = event.target.value.replace(/_/g, " ");
						} else if (about == "avatar") {
							this.appInfo[about] = Number(this.appInfo[about]);
							this.appInfo[about] < 7 ? this.appInfo[about]++ : (this.appInfo[about] = 1);
						} else if (about == "password") {
							this.appInfo[about] = Date.now();
						} else if (about == "showSubtitles") {
							this.appInfo[about] = this.appInfo[about] === "on" ? "off" : "on";
						} else {
							this.appInfo[about] = event.target.value.replace(/ /g, "_");
						}
						this.updateLocalStorage();
					},
					updateLocalStorage() {
						Object.keys(this.appInfo).forEach((e) => {
							localStorage[e] = typeof this.appInfo[e] === "object" ? JSON.stringify(this.appInfo[e]) : this.appInfo[e];
						});
						this.appInfo = JSON.parse(JSON.stringify(this.appInfo));
					},
					menuSelect(menuItem) {
						this.menu = menuItem;
						if (menuItem == "chat") this.newMessageAlert = false;
					},
					playerPlay() {
						clearTimeout(window.playerPlay);
						window.playerPlay = setTimeout(() => {
							this.videoPlayer.play();
							this.socket.send(JSON.stringify({ msg: "play", about: "player", currentTime: this.videoPlayer.currentTime }));
						}, 100);
					},
					playerPause() {
						clearTimeout(window.playerPlay);
						window.playerPlay = setTimeout(() => {
							this.videoPlayer.pause();
							this.socket.send(JSON.stringify({ msg: "pause", about: "player", currentTime: this.videoPlayer.currentTime }));
						}, 100);
					},
					socketMSG(socketData) {
						var e = JSON.parse(socketData.data);
						// console.log(e);
						if (e.about == "initMe") {
							this.headers = e.msg;
							this.fileURL = e.msg.fileURL;
							this.chat = e.msg.chat;
						} else if (e.about == "player") {
							if (e.msg == "tick") {
								if (this.videoPlayer.paused) this.videoPlayer.currentTime = e.currentTime;
							}
							if (e.msg == "play") {
								if (e.fileURL && e.fileURL !== this.fileURL) {
									location.reload();
								} else {
									this.videoPlayer.currentTime = e.currentTime;
									this.videoPlayer.play();
								}
							}
							if (e.msg == "pause") {
								this.videoPlayer.currentTime = e.currentTime;
								this.videoPlayer.pause();
							}
						} else if (e.about == "chat") {
							this.chat.push(e.msg);
							this.messageSound.play();
							var chatList = document.querySelector(".chat_list");
							if (chatList) chatList.scrollTop = chatList.scrollHeight;
							if (this.menu !== "chat") this.newMessageAlert = true;
						} else if (e.about == "subtitles") {
							if (this.appInfo.showSubtitles !== "on") return;
							clearTimeout(t);
							this.subtitles = e.msg.text;
							var t = setTimeout(() => {
								this.subtitles = null;
							}, e.msg.end + 2000 - Math.round(this.videoPlayer.currentTime * 1000));
						}
					},
				},
			});

			// ----- helpers -----
			function urlBreak() {
				var url = {};
				url.hostname = location.hostname;
				url.host = location.host;
				var q = location.search.substring(1);
				if (!q) return url;

				url.query = JSON.parse('{"' + decodeURI(q).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g, '":"') + '"}');
				return url;
			}
		</script>
	</body>
</html>
